/* COLORS */
$main: #292929;
$secondary: #111;
$white: #fff;
$light-gray: #f8f8fa;
$gray: #e5e6e8;
$border: #f0f1f4;
$input-border: #d5d7de;

/* FONTS */
$font-space-grotesk: 'Space Grotesk', sans-serif;
$font-space-mono: 'Space Mono', monospace;

/* SIZES */
$medium-container-width: 600px;
$container-width: 1020px;

/* BREAKPOINTS */
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1260px;

/* TRANSITIONS */
$transition-base: all 0.3s ease;
